.d {
    width: 100px;
    height: 30px;
    display: inline-block;
    background-image: url("loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}